section.portfolio
	md-card.portfolio__item(
		*ngFor='let project of projects'
		(click)='goToProject(project.name)')
		md-card-header.portfolio__header
			md-card-title.portfolio__title {{project.title}}
			//- md-card-subtitle {{project.name}}
				//- a.portfolio__link(
					href='{{project.link.link}}'
					title='{{project.link.link}}') {{project.link.name}}
		img(
			[src]='project.image.small'
			alt='{{project.image.alt}}'
			md-card-image)
		md-card-content.portfolio__text
			p {{project.description}}
