section.project
	.project__info
		md-card.project__image
			img.project__img([src]='project?.mainImage.small')
		md-card.project__params
			p.project__param(*ngFor='let param of project?.params') {{param[0]}}: 
				span.project__param--tini {{param[1]}}
		md-card.project__links
			a.project__link(
				*ngFor='let link of project?.links'
				[href]='link.link'
				[title]='link.title'
				[target]='link.blank ? \'_blank\' : \'_self\'') {{link.name}} 
	md-card.project__description
		p.project__text(*ngFor='let paragraph of about') {{paragraph}}
