section.home-page
	.home-page__photo
		p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ipsum своего страну, переулка точках гор большого рекламных власти ее, ведущими даже о, возвращайся, необходимыми повстречался выйти семь которой коварных!
		p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Пустился они языкового его по всей она ее, страну, переписывается жизни взобравшись осталось. Обеспечивает составитель ему первую, родного своих несколько которое.
	.home-page__file
		input(
			type='file'
			#qweqwe)
		button((click)='submit(qweqwe)') qweqwe