section.home-page
	.home-page__photo
		img(src='{{personal?.image.small}}')
	.home-page__personal
		.home-page__block
			p.home-page__info name: {{personal?.name.first}} {{personal?.name.last}}

			p.home-page__info birthday: {{personal?.birth.day < 10 ? '0' + personal?.birth.day : personal?.birth.day}}.{{personal?.birth.month < 10 ? '0' + personal?.birth.month : personal?.birth.month}}.{{personal?.birth.year}}

		.home-page__block
			p.home-page__info(*ngFor='let contact of personal?.contacts')
				| {{contact.name}}: 
				a.home-page__link(
					href='contact.link'
					title='{{contact.title}}') link