div(*ngIf='hero')
	h2 {{hero.name}}

	div
		label id: 
		| {{hero.id}}
	div
		label name: 
		input(
			type='text'
			[(ngModel)]='hero.name'
			placeholder='name')

	button((click)='goBack()') back
	button((click)='save()') save