.search-component
	h4 hero search
	input(
		type='text'
		id='searchBox'
		#searchBox
		(keyup)='search(searchBox.value)')
	div
		.search-result(
			*ngFor='let hero of heroes | async'
			(click)='gotoDetails(hero)')
			span {{hero.name}}